<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>The App Components</h1>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-servers></app-servers>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <app-warning-alert></app-warning-alert>
        </div>
        <div class="col-md-6">
            <div app-success-alert></div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <task-directives></task-directives>
        </div>
    </div>
</div>